.contact section {
    margin: 1%;
}

.contact section label {
    font-size: 18px;
    color: black;
}

.contact section label span {
    color: red;
}

.contact section textarea {
    background-color: white;

    height: 120px;
    margin-top: 1%;
}

.contact section button {
    background-color: mediumblue;
}

.contact section button:hover {
    background-color: blue;
}

.contact section button:focus {
    background-color: darkblue;
}

.contact section button:hover {
    cursor: pointer;
}