.contact section {
    margin: 1%;
}

.contact section label {
    font-size: 18px;
    color: black;
}

.contact section textarea {
    background-color: white;

    height: 120px;
    margin-top: 1%;
}

.contact section button {
    height: 30px;
    width: 70px;
}

.contact section button:hover {
    cursor: pointer;
}