body, #root, #container, #section {
    display: flex;
    min-height: calc(100vh - 86.4px);
    flex-direction: column;
}

.page-footer {
    background-color: darkblue;

    padding-top: 25px;
    padding-bottom: 15px;

    flex: 1 0 auto;
}

.page-footer .container a h5 {
    width: 120px;
    margin: 0;
}

.page-footer .container a h5:hover {
    color: violet !important;
}

@media only screen and (max-width: 500px) {
    .page-footer .container a h5 {
        font-size: 1.0rem;
        width: 90px;
    }
}