nav {
    background-color: darkblue;
}

.brand-logo {
    min-width: 300px;

    margin-left: 1%;
}

.brand-logo:hover {
    cursor: default;
}

@media only screen and (max-width: 500px) {
    nav .brand-logo {
        font-size: 1.6rem;
        margin-left: 20%;
    }
}