.portfolio section {
    display: flex;
}

.portfolio section section {
    display: flex;
    flex-direction: column;
}

.portfolio h2 {
    margin-top: 25px;
    margin-bottom: 0;

    font-size: 26px;
}

.project p {
    margin-bottom: 10px;
}

.portfolio a {
    color: blue;

    font-size: 16px;
    line-height: 30px;
}

.portfolio a:hover {
    color: purple;
    text-decoration: underline;
}

.portfolio img {
    margin-top: 10%;

    height: 160px;
    width: 160px;
}

.project {
    margin-left: 2%;
}

.portfolio footer {
    height: 100px;
}

@media (max-width: 992px) {
    .portfolio section {
        flex-direction: column;
        align-items: center;
    }
}